<%
meta title: @title,
description: @description,
keywords: @keywords
%>
<% if !browser.device.mobile? %>
<div class="breadcrumbs">
<div class="container">
<h1 class="pull-left"><%= @user.username %></h1>
<ul class="pull-right breadcrumb">
<li><a href="<%=root_path %>">首页</a></li>
<li><a href="<%=main_app.tech_path  %>">Setting</a></li>
</ul>
</div>
</div>
<% end %>
<div class="container">
  <%= render partial: 'users/profile_form' %>
</div>
