 <!--- Courses -->
    <section id="course" class="about-section">
        <!-- Portfolio Section -->

<div class="container content-lg">
    <div class="title-v1">
        <h2><%=t('welcome.slider.course')  %></h2>
        <p><%=t('welcome.slider.course1')  %><br><p><%=t('welcome.slider.course2')  %>                

        </div>

        <div class="wrapper-portfolio">
            <div id="grid-container" class="cbp-l-grid-gallery">
                <ul>
                    <li class="cbp-item print motion">
                        <a href="/"><div class="cbp-caption" data-title="World Clock Widget<br>by Paul Flavius Nechita">
                            <div class="cbp-caption-defaultWrap">
                                <img src="/uploads/video/still/21/thumb_System_variables_on_a_FANUC_Robot_controller-sMtrERkj03c.png" alt="" width="100">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignLeft">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">System variable on a Fanuc robot controller</div>
                                        <div class="cbp-l-caption-desc">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                    <li class="cbp-item print motion">
                        <a href="/"><div class="cbp-caption" data-title="World Clock Widget<br>by Paul Flavius Nechita">
                            <div class="cbp-caption-defaultWrap">
                                <img src="/uploads/video/still/20/thumb_Editing_a_VAL_3_Application__English_-pkDTVXeLp8M.png" alt="" width="100">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignLeft">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Edit a VAL3 Application</div>
                                        <div class="cbp-l-caption-desc">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                    <li class="cbp-item print motion">
                        <a href="/"><div class="cbp-caption" data-title="World Clock Widget<br>by Paul Flavius Nechita">
                            <div class="cbp-caption-defaultWrap">
                                <img src="/uploads/video/still/19/thumb_Installing_Robots__English_-eyxBYUvFNok.png" alt="" width="100">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignLeft">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Installing Robot </div>
                                        <div class="cbp-l-caption-desc">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                    <li class="cbp-item print motion">
                        <a href="/"><div class="cbp-caption" data-title="World Clock Widget<br>by Paul Flavius Nechita">
                            <div class="cbp-caption-defaultWrap">
                                <img src="/uploads/video/still/18/thumb_Frames_in_Robotics_-_Tool_frames__UTOOL_-RL8sPOipzrk.png" alt="" width="100">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignLeft">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Frames in Robotics, TOOL Frame</div>
                                        <div class="cbp-l-caption-desc">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                    <li class="cbp-item print motion">
                        <a href="/"><div class="cbp-caption" data-title="World Clock Widget<br>by Paul Flavius Nechita">
                            <div class="cbp-caption-defaultWrap">
                                <img src="/uploads/video/still/17/thumb_How_to_program_a_CIRCLE__or_ARC__command_on_a_FANUC_Teach_Pendant-iMGBLidrfig.png" alt="" width="100">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignLeft">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">How to program a CIRCLE</div>
                                        <div class="cbp-l-caption-desc">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                    <li class="cbp-item print motion">
                        <a href="/"><div class="cbp-caption" data-title="World Clock Widget<br>by Paul Flavius Nechita">
                            <div class="cbp-caption-defaultWrap">
                                <img src="/uploads/video/still/16/thumb_KUKA_Sim_Pro_1.1_Tutorial-xntLAWUEH-A.png" alt="" width="100">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignLeft">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">KUKA Sim Pro</div>
                                        <div class="cbp-l-caption-desc">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                    <li class="cbp-item print motion">
                        <a href="/"><div class="cbp-caption" data-title="World Clock Widget<br>by Paul Flavius Nechita">
                            <div class="cbp-caption-defaultWrap">
                                <img src="/uploads/video/still/15/thumb_FANUC_Teach_Pendant_programming_-_Group_1-Vop5NZGxapc.png" alt="" width="100">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignLeft">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Fanuc Teach Pedant Programming</div>
                                        <div class="cbp-l-caption-desc">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                    <li class="cbp-item print motion">
                        <a href="/"><div class="cbp-caption" data-title="World Clock Widget<br>by Paul Flavius Nechita">
                            <div class="cbp-caption-defaultWrap">
                                <img src="/uploads/video/still/14/thumb_Offline_programming_KUKA_KR3-1BchROaubEI.png" alt="" width="100">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignLeft">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Offline Programming with Kuka robot</div>
                                        <div class="cbp-l-caption-desc">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                    <li class="cbp-item print motion">
                        <a href="/"><div class="cbp-caption" data-title="World Clock Widget<br>by Paul Flavius Nechita">
                            <div class="cbp-caption-defaultWrap">
                                <img src="/uploads/video/still/13/thumb_Working_With_Real_Robots__English_-gGgYvznVGDY.png" alt="" width="100">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignLeft">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">Working with real robot with SRS</div>
                                        <div class="cbp-l-caption-desc">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            </div>

    </section>