<div class="container content">
<div class="row margin-bottom-60">
<div class="title-v1">
<h1>教学理念</h1>
<h2>完全基于<span class="color-orange">Mastery Based Learning</span>精英教育设计的应用课程</h2>
</div>

<div class="col-sm-3">
<div class="service-block-v1 md-margin-bottom-50">
<i class="fa fa-th fa-5x rounded-x grow"></i>
<h3 class="title-v3-bg text-uppercase">精英工程师设计<br>MBL驱动课程</h3>
<p>课程按照精英工程师要求细化<br>目的是为了您可以应用这些技术。</p>
</div>
</div>
<div class="col-sm-3">
<div class="service-block-v1 md-margin-bottom-50">
<i class="fa fa-group fa-5x rounded-x"></i>
<h3 class="title-v3-bg text-uppercase">适用于各类人<br>弹性时间进度</h3>
<p>自由的决定学习的次数和时间<br>自由的调整自己的学习进度</p></h3>

</div>
</div>
<div class="col-sm-3">
<div class="service-block-v1 md-margin-bottom-50">
<i class="fa fa-male fa-5x rounded-x"></i>
<h3 class="title-v3-bg text-uppercase">一对一<br>个性化学习规划</h3>
<p>按照您的学习能力，个性化的辅导。<br>完成上一个级别，才能继续下一课。</p>
</div>
</div>
<div class="col-sm-3">
<div class="service-block-v1 md-margin-bottom-50">
<i class="fa fa-repeat fa-5x rounded-x"></i>
<h3 class="title-v3-bg text-uppercase">拒绝放弃<br>允许重复学习</h3>
<p>一旦开始学习，将不允许您放弃！<br>如果没有学会，您可以重复学习。</p>
</div>
</div>


</div><!--/row-->
</div><!--/container-->
