<section id="partner">
        <div class="clients-section parallaxBg">
            <div class="container">
                <div class="title-v1">
                    <h2>我们的企业合作伙伴</h2>
                </div>            
                <ul class="owl-clients-v2">
                    <li><a href="#"><img src="static/brand/abb.png" alt=""></a></li>
                    <li><a href="#"><img src="static/brand/adept.png" alt=""></a></li>
                    <li><a href="#"><img src="static/brand/comau.png" alt=""></a></li>
                    <li><a href="#"><img src="static/brand/fanuc.png"alt=""></a></li>
                    <li><a href="#"><img src="static/brand/kuka.png" alt=""></a></li>
                    <li><a href="#"><img src="static/brand/reis.png" alt=""></a></li>
                    <li><a href="#"><img src="static/brand/staubli.png" alt=""></a></li>
                </ul>            
            </div>
        </div>
    </section>