        <div class="xulung_register">

          <div class="pgdes">
          <p><span class="color-white">马上开始免费学习，<br>当您觉得自己适合这个项目，只要<br>
          </span><span class="color-orange"><i class="fa fa-jpy"></i>499.99/月</span><br></p>
          <a href="/service/isthisforme" class="btn-u btn-u-lg btn-u-red rounded-2x">这个培训项目适合我吗？</a>

          </div>
        </div>
