<!--=== Testimonials Section ===-->
<div class="testimonials-bs bg-image-v2 parallaxBg1 margin-bottom-60">
<div class="container">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<div class="item active">
<div class="headline-center-v2 headline-center-v2-dark">
<h2>他们都怎么说</h2>
<span class="bordered-icon"><i class="fa fa-th-large"></i></span>
<p>工程师学习是一个需要长期坚持的过程，除了经验的积累外，新技术新设备的应用也是相当的重要，更重要的是与同行业人士的交流，显示的尤其重要。</p>
<span class="author">诩阆, <a href="#"></a></span>
</div>
</div>
<div class="item">
<div class="headline-center-v2 headline-center-v2-dark">
<h2>他们都怎么说</h2>
<p>工程师是需要培养的，社会需要一个好的环境让工程师发挥他们的价值，同时获得收益。</p>
<span class="author">小鸡, <a href="#"></a></span>
</div>
</div>
</div>

<div class="carousel-arrow">
<a class="right carousel-control-v2" href="#carousel-example-generic" data-slide="next">
<i class="rounded-x fa fa-angle-left"></i>
</a>
<a class="left carousel-control-v2" href="#carousel-example-generic" data-slide="prev">
<i class="rounded-x fa fa-angle-right"></i>
</a>
</div>
</div>
</div>
</div>
