<div class="parallax-counter-v1 parallaxBg">
<div class="container">
<div class="margin-bottom-40"></div>

<div class="row margin-bottom-10">
<div class="col-sm-3 col-xs-6">
<div class="counters">
<span class="counter">1000+ </span>
<h4>专家</h4>

</div>
</div>
<div class="col-sm-3 col-xs-6">
<div class="counters">
<span class="counter">9695</span>
<h4>专业应用视频</h4>
</div>
</div>
<div class="col-sm-3 col-xs-6">
<div class="counters">
<span class="counter">11420</span>
<h4>学术论文</h4>
</div>
</div>
<div class="col-sm-3 col-xs-6">
<div class="counters">
<span class="counter">2000+</span>
<h4>讨论主题</h4>
</div>
</div>
</div>
<div class="pull-right"><a href="https://roboticsfaq.com" class="btn-u btn-u-lg btn-u-orange rounded-2x">诩阆旗下机器人社区RoboticsFAQ.com</a></div>
</div>
</div>
