<div class="carousel slide carousel-v1" id="myCarousel">
<div class="carousel-inner">
<div class="item ">
<img src="<%=image_path('about.jpg')%>"  alt="诩阆:作为一个工程师，好的技术是立足之本,好工程师不嫌技术精.">
<div class="carousel-caption">
<p>作为一个工程师，好的技术是立足之本,好工程师不嫌技术精.</p>
</div>
</div>
<div class="item active">
<img alt="技术浩如烟海，谁都有碰到问题的时候，有时候和小黄鸭聊，有时候问问牛人." src="<%=image_path('lock.jpg')%>">
<div class="carousel-caption">
<p>技术浩如烟海，谁都有碰到问题的时候，有时候和小黄鸭聊，有时候问问牛人.</p>
</div>
</div>
<div class="item">
<img alt="看看别人的学习心得，技术文章，看看能不能激起一些火花." src="<%=image_path('b1.jpg')%>">
<div class="carousel-caption">
<p>看看别人的学习心得，技术文章，看看能不能激起一些火花.</p>
</div>
</div>
</div>

<div class="carousel-arrow">
<a data-slide="prev" href="#myCarousel" class="left carousel-control">
<i class="fa fa-angle-left"></i>
</a>
<a data-slide="next" href="#myCarousel" class="right carousel-control">
<i class="fa fa-angle-right"></i>
</a>
</div>
</div>
