<div class="carousel slide carousel-v1" id="landing-page-header">
<div class="carousel-inner">
<div class="item active">
<img src="<%=image_path('about.jpg')%>"  alt="诩阆:作为一个工程师，好的技术是立足之本,好工程师不嫌技术精.">
<div class="carousel-caption">
<p>作为一个工程师，好的技术是立足之本,好工程师不嫌技术精.</p>
</div>
</div>
</div>
</div>
