<%
meta title: @title,
description: @description,
keywords: @keywords
%>

<body>
<div class="xulung_pg">
<div class="pgdes">
<p>登顶的<span class="color-orange">缓慢</span><br>
  专业的<span class="color-orange">精熟</span><br>
  工程师的<span class="color-orange">从容成长</span></p>
<a href="/service/isthisforme" class="btn-u btn-u-lg btn-u-orange rounded-2x">这个项目适合我吗？</a>
<p><i class="fa fa-chevron-down" aria-hidden="true"></i></p>
</div>
</div>
<section id="MBL">
<%=render 'mastery'  %>
</section>
<section id="register">
<%=render 'register'  %>
</section>



</body>
</html>
