<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">编辑</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="<%=root_path %>">首页</a></li>
                <li class="active">编辑</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
 <div class="container">
<%= render 'consultant_form' %>
</div>
