
<%
meta title: @title,
     description: @description,
     keywords: @keywords
%>
<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">申请成为技术顾问</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="<%=root_path %>">首页</a></li>
                <li class="active">申请成为技术顾问</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
<div class="container content">
<%= render 'consultant_form' %>
</div>
