<!--=== Content Part ===-->
<div class="container content">
  <section class="content clearfix">
  <div class="row">
  <div class="columns small-12">
  <section id="curriculum">
  <section class="intro">
  <h1> <strong class="color-green">智能制造工程师 ROADMAP</strong></h1>
  </section>
  <section class="track-nav-wrapper major-section">
  <div class="track-nav-list"><a href="#preparatory-work"><article>
  <div class="track-name">预备课程</div>
  <p class="track-duration">1.5 小时</p>
</article></a><a href="#industrial-robot-course"><article>
  <div class="track-name">工业机器人课程</div>
  <p class="track-duration"> 10 小时</p>
</article></a><a href="#electrical-basical-course"><article>
  <div class="track-name">电气基本课程</div>
  <p class="track-duration"> 10 小时</p>
</article></a><a href="#system-integration-course"><article>
  <div class="track-name">系统集成课程</div>
  <p class="track-duration"> 10 小时或更长</p>
</article></a><a href="#process-manufacturing-course"><article>
  <div class="track-name">工艺制造课程</div>
  <p class="track-duration"> 10 小时或更长</p>
  </article></a></div>
  </section>
  <section id="phases">
  <h3 class="major-section">
  <span class="color-grey">预备课程</span>是免费的，不提供技术服务。
  <br>
  <span class="color-red">工业机器人课程，电气基本课程和系统集成课程</span>是收费的
  ，提供技术支持。

  <br>
  <span class="color-green">工艺制造课程</span>属于定制课程，费用请联系contact@xulung.com。
  </h3>
  <article class="phase">
  <a name="preparatory-work"></a>
  <section class="phase-summary">
  <h2>预备课程</h2>
  <div class="tealeaf-markup">
  <p>在这个系列中的所有课程，都是完全免费的，你可以从这个课程给自己一个基本的评估，判断自己是不是可以开始这一系列的课程。在这个课程里面，我们会讲解一下，工业制造自动化的基本知识，这个行业的职业情况，同时也会对这个过程的学习步骤，有一个清晰的描述，来帮助你更清晰的了解并达到自己的目标。</p>
  <p>预备课程会带您浏览一下所有的相关课程，用来帮助您入门，包括工业制造自动化的历史，机械制造的知识，电气控制的知识，工业机器人和现代制造的基本知识，这一切在这个课程里面都是免费的。</p>
  </div>
  </section>
<table class="table table-striped">
  <thead>
  <tr>
  <th class="course-no">编号</th>
  <th class="course-name">名称</th>
  <th class="course-hours">学习时间</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <td>1000</td>
  <td class="course-name">
  <a href="/learning/预备课程">使用诩阆仿真平台学习多种机器人</a>
  <span class="label label-red">New</span>
  </td>
  <td>10 分</td>
  </tr>
  <tr>
  <td>1100</td>
  <td class="course-name">
  <a href="/">机械制造基本知识</a>
  <span class="label label-light">In progress</span>
  </td>
  <td>30 分</td>
  </tr>
  <tr>
  <td>1200</td>
  <td class="course-name">
  <a href="/">智能制造基本知识</a>
  <span class="label label-light">In progress</span>
  </td>
  <td>30 分</td>
  </tr>
  <tr>
  <td>1300</td>
  <td class="course-name">
  <a href="https://xulung.com/videos/ru-he-shi-yong-xu-lang-xue-xi-ke-cheng">如何使用诩阆学习课程?</a>
  </td>
  <td>10 分</td>
  </tr>
  <tr>
  <td>1400</td>
  <td class="course-name">
  <a href="/">工业机器人基本坐标系统</a>
  <span class="label label-light">In progress</span>
  </td>
  <td>10 分</td>
  </tr>


  </tbody>
  </table>
  </article>
  <article class="phase">
  <a name="industrial-robot-course"></a>
  <section class="phase-summary">
  <h2>工业机器人课程</h2>
  <div class="tealeaf-markup">
  <p>工业机器人，是智能制造领域最重要的组成部分，代替人工来进入复杂的操作，用来实现批量的现代化集成制造。通过这个课程，可以帮助您从零开始去了解，操作，使用工业机器人，并可以自己编程控制机器人，实现机器人进行工业制造过程的安装调试。</p>
  <h4>这个课程，会分为三个阶段：</h4>
  <h5>初级课程：</h5>
  讲解关于机器人操作的基本规则和相关原理，为以后进入公司操作机器人提供知识储备,担当所在公司机器人的日常生产和维护工作。包括机器人组成的讲解，各种不同类型的机器人系统讲解，熟悉后可以选择不同品牌的机器人进行入门学习，我们提供ABB，Staubli和KUKA机器人系列课程,配合<a href="<%=main_app.service_simulation_path %>">诩阆的仿真软件</a>，您也可以选择其他品牌的工业机器人进入入门学习。
    同时，我会讲一下，机器人电气控制柜内部的连接，各电气的名称及其原理。

  <h5>中级课程：</h5>讲解工业机器人程序开发的基本概念，工业机器人开发语言的使用方法，各厂家开发语言的技术规范。我们也会向您提供一款同时面向各家品牌机器人的编辑器。熟悉机器人信号，与外围设备的通信设置，机器人气路控制的方法等等。工业机器人的一些基本的维护技巧与注意事项，比如机器人电池的更换，减速器润滑油的更换等等。
  <h5>高级课程：</h5>讲解工业机器人离线编程的概念，上位机PLC/PC与机器人高级通讯的方法，如何从一台新机器，完整的配置到一台可以工作的机器人。
  </div>
  </section>
  <table class="table table-striped">
    <thead>
    <tr>
    <th class="course-no">编号</th>
    <th class="course-name">名称</th>
    <th class="course-hours">学习时间</th>
    </tr>
    </thead>

  <tbody>

  <tr>
  <td>2100</td>
  <td class="course-name">
  <a href="/learning/abb机器人%20基础操作">ABB机器人的基础操作</a>
  </td>
  <td>60 分</td>
  </tr>

  <tr>
  <td>2120</td>
  <td class="course-name">
  <a href="/learning/abb%20robot%20studio">ABB RobotStudio 使用</a>
  </td>
  <td>90 分 </td>
  </tr>
  <tr>
  <td>2200</td>
  <td class="course-name">
  <a href="/learning/staubli%20robot%20operation">Staubli机器人的基本操作</a>
  </td>
  <td>30分 </td>
  </tr>
  <tr>
  <td>2500</td>
  <td class="course-name">
  <a href="learning/staubli%20srs">Staubli SRS课程</a>
  </td>
  <td>80 分</td>
  </tr>
  <tr>
  <td>2600</td>
  <td class="course-name">
  <a href="/">Staubli 机器人跟踪课程</a>
  <span class="label label-light">In progress</span>
  </td>
  <td>60 分</td>
  </tr>
  <tr>
  <td>2700</td>
  <td class="course-name">
  <a href="/">ABB 机器人跟踪课程</a>
  <span class="label label-light">In progress</span>
  </td>
  <td>60 分</td>
  </tr>

  </tbody>
  </table>
  </article>
  <article class="phase">
  <a name="electrical-basical-course"></a>
  <section class="phase-summary">
  <h2>电气基本课程</h2>
  <div class="tealeaf-markup"><p>通过本课程学习，培养对电气工程方面使用低压电器的识别、电动机的起动、点动控制、电动机的正转、反转 等方面的实际操作方法，可以根据电气原理图独立组建实际电路。使用Eplan绘制工业电路图，对电路的识别，电柜的安装，电路故障的处理等等。</p>
    <h4>这个课程，会分为三个阶段：</h4>
    <h5>初级课程：</h5>
    基本电路图的阅读，各电路原件的含义，电工安全，电工仪器的使用。
    <h5>中级课程：</h5>电动机的起动，点动控制，正反转，接触器的使用控制，电路的识别，电柜的安装等。
    <h5>高级课程：</h5>信号系统的搭建，现场总化的应用，电路故障的处理，Eplan电路图的绘制。
  </div>
  </section>
  <table class="table table-striped">
    <thead>
    <tr>
    <th class="course-no">编号</th>
    <th class="course-name">名称</th>
    <th class="course-hours">学习时间</th>
    </tr>
    </thead>

  <tbody>
  <tr>
  <td>3000</td>
  <td class="course-name">
  <a href="learning/eplan">Eplan 课程</a>
  </td>
  <td>30 分</td>
  </tr>
  <tr>
  <td>3100</td>
  <td class="course-name">
  <a href="learning/allen-bradley%20plc">Allen Bradley PLC课程</a>
  </td>
  <td>100 分</td>
  </tr>
  <tr>
  <td>3200</td>
  <td class="course-name">
  <a href="learning/siemens%20plc">Siemens PLC课程</a>
  </td>
  <td>80 分 </td>
  </tr>
  <tr>
  <tr>
  <td>3600</td>
  <td class="course-name">
  <a href="learning/tia">TIA博途课程</a>
  </td>
  <td>60 分 </td>
  </tr>

  </tbody>
  </table>
  </article>
  <article class="phase">
  <a name="system-integration-course"></a>
  <section class="phase-summary">
  <h2>系统集成课程</h2>
  <div class="tealeaf-markup"><p>通过本课程学习，熟悉工业机器人的选型，工业机器人控制器通讯模块的选择，PLC控制端通讯模块的选择，系统通讯连接，外围连接，安全单元回路的冗余连接等等，实现工业机器人与上位机，联合作用，工业4.0信息化的处理等。</p>
    <h4>这个课程，会分为三个阶段：</h4>
    <h5>初级课程：</h5>按照项目方案的要求，选择合适的工业机器人手臂，按照控制的要求选择合适的通讯接口等
    <h5>中级课程：</h5>流程控制的确认，生产过程转化为过程控制体系，S7 Graphe在过程控制中的作用，工业机器人的独立编程，PLC独立编程与模拟。
    <h5>高级课程：</h5>系统的整体通讯建立，系统测试，系统的能力分析，工业统计学。
  </div>
  </section>
  <table class="table table-striped">
    <thead>
    <tr>
    <th class="course-no">编号</th>
    <th class="course-name">名称</th>
    <th class="course-hours">学习时间</th>
    </tr>
    </thead>
  <tbody>
  <tr>
  <td>4000</td>
  <td class="course-name">
  <a href="https://www.roboticsfaq.com/robots">工业机器人的选型</a>
  </td>
  <td>10 分</td>
  </tr>
  <tr>
  <td>4100</td>
  <td class="course-name">
  <a href="/">方案实施的分析</a>
  <span class="label label-light">In progress</span>
  </td>
  <td>30 分 </td>
  </tr>
  <tr>
  <td>4200</td>
  <td class="course-name">
  <a href="/">工业机器人的通讯与应用编程</a>
  <span class="label label-light">In progress</span>
  </td>
  <td>60 分</td>
  </tr>
  <tr>
  <td>4300</td>
  <td class="course-name">
  <a href="/">工业机器人离线编程</a>
  <span class="label label-light">In progress</span>
  </td>
  <td>60 分</td>
  </tr>


  <tr>
  <td>4600</td>
  <td class="course-name">

  <a href="/learning/系统集成课程abb-plc">ABB机器人与PLC的Profibus通讯与应用编程</a>
    <span class="label label-red">New</span>
  </td>
  <td>60 分</td>
  </tr>
  <tr>
  <td>4500</td>
  <td class="course-name">
  <a href="/">系统整合测试</a>
  <span class="label label-light">In progress</span>
  </td>
  <td>60 分</td>
  </tr>

  </tbody>
  </table>
  </article>
  <article class="phase">
  <a name="process-manufacturing-course"></a>
  <section class="phase-summary">
  <h2>工艺制造课程</h2>
  <div class="tealeaf-markup"><p>开发是为制造工艺服务的，工艺就是制造的最大需要，设备制造出来就是为了满足工艺。不同的制造过程有不同的工艺，每一种工艺都是不同的。比如制造汽车，有装配工艺，喷涂工艺，焊接工艺，铣削工艺等等，通过对工艺的熟悉和学习，操作设备完成这个过程，远远比了解设备本身更重要。</p>
  <p> 技术要求的研读，对理解工艺非常有帮助，在设备的方案初期，主需要对工艺要求有一个清晰的认识，解剖工艺的过程，分拆给设备进行处理，就是自动化工程师最为核心的技术.</p>
  </div>
  </section>
  <table class="table table-striped">
    <thead>
    <tr>
    <th class="course-no">编号</th>
    <th class="course-name">名称</th>
    <th class="course-hours">学习时间</th>
    </tr>
    </thead>
  <tbody>
  <tr>
  <td>5000</td>
  <td class="course-name">
  <a href="/">技术协议的书写与解读</a>
  </td>
  <td>60 分</td>
  </tr>
  <tr>
  <td>5100</td>
  <td class="course-name">
  <a href="/">激光弱化课程</a>
  </td>
  <td>60 分</td>
  </tr>

  <tr>
  <td>5200</td>
  <td class="course-name">
  <a href="/">塑料件铣削课程</a>
  </td>
  <td>60 分</td>
  </tr>

    <tr>
    <td>5300</td>
    <td class="course-name">
    <a href="/">机器人火焰处理课程</a>
    </td>
    <td>60 分</td>
    </tr>

    <tr>
    <td>5500</td>
    <td class="course-name">
    <a href="/">机器人压铸课程</a>
    </td>
    <td>60 分</td>
    </tr>
    <tr>
    <td>5600</td>
    <td class="course-name">
    <a href="/">机器人激光切割课程</a>
    </td>
    <td>60 分</td>
    </tr>

  <tr>
  <td>5700</td>
  <td class="course-name">
  <a href="/">设备能力分析，质量过程控制</a>
  </td>
  <td>60 分</td>
  </tr>
  </tbody>
  </table>
  </article>

  </section>
  </section>
  </div>

  </div>
  </section>
</div>
    <!--=== End Content Part ===-->
