
<%
meta title: @title,
     description: @description,
     keywords: @keywords
%>
<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">入驻标准</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="<%=root_path %>">首页</a></li>
                <li class="active">入驻标准</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
    <div class="container content">	
    <div class="yue">	
    <p>
    
    </p>
    </div>

            </div><!--/container-->		
    <!--=== End Content Part ===-->
