
<%
meta title: @title,
     description: @description,
     keywords: @keywords
%>
<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">购买服务</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="<%=root_path %>">首页</a></li>
                <li class="active">购买服务</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
    <div class="container content">

<div class="reg-block">
<h3><span>目前我们提供4种帐户类别，请发邮件至 <%= mail_to("contact@xulung.com", "contact@xulung.com", :encode => "hex") %> 开启帐户</span></h3>
<hr>
<div class="row pricing-zoom">

            <div class="col-md-3 col-sm-6">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3><i class="fa fa-child "></i>免费帐户 <span>学习不用等待</span></h3>
                        <h4><i>¥</i>19<i>.99</i> <span>每月</span></h4>

                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li><i class="fa fa-smile-o"></i> 随意学 </li>
                        <li><i class="fa fa-clock-o"></i> 随时学</li>
                    </ul>
                    <div class="pricing-footer">
                        <p>终身学习本站的免费视频课程</p>
                        <p>终身阅读本站的免费技术文章</p>
                        <!-- <a class="btn-u" href="mailto:contact@xulung.com?subject=免费帐户开户"><i class="fa fa-shopping-cart"></i>我要学习</a> -->
                  </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3><i class="fa fa-mortar-board "></i>学生帐户 <span>从学生到工程师</span></h3>
                        <h4><i>¥</i>299<i>.99</i> <span>每月</span></h4>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li><i class="fa fa-smile-o"></i> 随意学 </li>
                        <li><i class="fa fa-clock-o"></i> 随时学</li>
                        <li><i class="fa fa-envelope-square"></i> 问题解答</li>
                    </ul>
                    <div class="pricing-footer">
                        <p>请发送您的学生证信息照片,我们会核实后给您开启学习帐户.</p>
                        <!-- <a class="btn-u" href="mailto:contact@xulung.com?subject=学生帐户开户"><i class="fa fa-shopping-cart"></i>我要学习</a> -->
                  </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3><i class="fa  fa-gear"></i>工程师帐户 <span>工程师的自我提升</span></h3>
                        <h4><i>¥</i>499<i>.99</i> <span>每月</span></h4>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li><i class="fa fa-smile-o"></i> 随意学 </li>
                        <li><i class="fa fa-clock-o"></i> 随时学</li>
                        <li><i class="fa fa-envelope-square"></i> 问题解答</li>
                    </ul>
                    <div class="pricing-footer">
                    <p>一个优秀的工程师，总停不下学习之路，通过自主的学习，提升自己的能力</p>
                        <!-- <a class="btn-u" href="mailto:contact@xulung.com?subject=工程师帐户开户"><i class="fa fa-shopping-cart"></i>我要提升</a> -->
                  </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricing">
                    <div class="pricing-head">
                        <h3><i class="fa fa-bank"></i>企业帐户 <span>提升技术人员的技术水平</span></h3>
                        <h4><i>¥</i>?<i></i> <span>邮件联系或面议</span></h4>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li><i class="fa fa-smile-o"></i> 随意学 <span class="pull-right"><i class="fa fa-eye"></i>独立平台 </span></li>
                        <li><i class="fa fa-clock-o"></i> 随时学 <span class="pull-right"><i class="fa fa-pencil"></i>定制课程 </span></li>
                        <li><i class="fa fa-group"></i> 多帐户 <span class="pull-right"><i class="fa fa-envelope-square"></i>问题解答 </span></li>

                    </ul>
                    <div class="pricing-footer">
                    <p>完善企业的技术培训体系，通过培训快速提升员工的能力</p>
                        <!-- <a class="btn-u" href="mailto:contact@xulung.com?subject=企业帐户开户"><i class="fa fa-shopping-cart"></i>开始培养员工</a> -->
                  </div>
                </div>
            </div>

        </div>
</div>

    </div><!--/container-->
    <!--=== End Content Part ===-->
