<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    <div class="container">
    <h1 class="pull-left"><%=@title%></h1>
        <ul class="pull-right breadcrumb">
            <li><a href="/"><%=t('home') %></a></li>
            <li><a href="/"><%=@title_mid%></a></li>
            <li class="active"><%=@title%></li>
        </ul>
    </div>
    </div><!--/breadcrumbs-->