
<%
meta title: @title,
description: @description,
keywords: @keywords
%>
<% if !browser.device.mobile? %>
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
<div class="container">
<h1 class="pull-left">逛课程</h1>
<ul class="pull-right breadcrumb">
<li><a href="<%=root_path %>">首页</a></li>
<li><a href="<%=videos_path %>">技术学院</a></li>
<li class="active">逛课程</li>
</ul>
</div>
</div><!--/breadcrumbs-->
<% end %>
<div class="container">
<%= render 'service/course' %>
</div>
</div>
